<html>
	{% load static %}
	<head>
		<meta charset="utf-8"/>
		<title>코로나-19관련 병원정보</title>
		<style>
			#mapwrap{position:relative;overflow:hidden;}
			.category, .category *{margin:0;padding:0;color:#000;}
			.fixed{ position: absolute; right: 10px; bottom: 2px; color: rgb(0, 0, 0); width: 150px; text-align:end;font-size:12px;} 
			.category {position:absolute;overflow:hidden;top:10px;left:10px;width:180px;height:20px;z-index:10;border:1px solid black;font-family:'Malgun Gothic','맑은 고딕',sans-serif;font-size:12px;text-align:center;background-color:#fff;}
			.category .menu_selected {background:#91ff00;color:#fff;border-left:1px solid #2f3191;border-right:1px solid #2f3191;margin:0 -1px;}
			.category li{list-style:none;float:left;width:60px;height:20px; padding-top:5px;cursor:pointer;} 
			/* .category .ico_comm {display:block;margin:0 auto 2px;width:108px;height:148.5px;background:url("{% static 'reliefhosmarker.png' %}") no-repeat;} 
			.category .ico_reliHos {background-position: -33px -52px;}  
			.category .ico_inspect {background-position: -31px -349px;}   
			.category .ico_triage {background-position: -34px -507px;} */
			/* TODO:FIX This */
			
		  </style>
	</head>
	<body>
	<div id="mapwrap"> 
		<div id="map" style="width:100%;height:100%;"></div>
		
			<div class="category">
				<ul>
					<li id="reliHosMenu" onclick="changeMarker('reliHos')">
						<p style="z-index: 1;
						/* top: 30px; */
						text-align: center;
						color: rgb(0, 0, 0);
						white-space: nowrap;
						font-size: smaller;
						position: relative;"> 안심병원 </p>
						<!-- <span class="ico_comm ico_reliHos"></span> -->
					</li>
					<li id="inspectMenu" onclick="changeMarker('inspect')">
						<p style="z-index: 1;
						/* top: 30px; */
						text-align: center;
						color: rgb(0, 0, 0);
						white-space: nowrap;
						font-size: smaller;
						position: relative;"> 검사기관 </p>
						<!-- <span class="ico_comm ico_inspect"></span> -->
					</li>
					<li id="triageMenu" onclick="changeMarker('triage')">
						<p style="z-index: 1;
						/* top: 30px; */
						text-align: center;
						white-space: nowrap;
						font-size: smaller;
						position: relative;"> 선별진료소 </p>
						<!-- <span class="ico_comm ico_triage"></span> -->
					</li>
				</ul>
				
			</div>
		</div>
		<div style="position: absolute; cursor: default; z-index: 1;margin: 0px 6px;height: 19px;line-height: 14px;right: 0px;bottom: 0px;color: rgb(0, 0, 0);">
			제공:건강보험심사평가원</div>
		
		<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=4e63037725e2b7837bb5c426532533f0"></script>
		<script>
			var _lat = parseFloat('{{ data.lat | escapejs }}'),
    			_lng = parseFloat('{{ data.lng | escapejs }}'),
				lvl = parseInt('{{ data.lvl | escapejs }}');

			var container = document.getElementById('map');
			var options = {
				center: new kakao.maps.LatLng(_lat, _lng),
				level: lvl
			};

			var data = JSON.parse('{{ data.hosdata | escapejs }}');
			var map = new kakao.maps.Map(container, options);

			var reliHosDatas = [],
				inspectDatas = [],
				triageDatas = [];

			//('latitude','longtitude','yadmNm','hospTyTpCd','telno','adtFrDd','isReliefhos','isInspect','isTriage')
			for(var i=0;i<data.length;i++){
				if (data[i].isReliefhos == true){
					reliHosDatas.push(data[i]);
				}
				if (data[i].isInspect == true){
					inspectDatas.push(data[i]);
				}
				if (data[i].isTriage == true){
					triageDatas.push(data[i]);
				}
			}
			//TODO: 이 아래부터 할것
			var markerImageSrc = "{% static 'reliefhosmarker.png' %}";
				reliHosMarkers = [],
				inspectMarkers = [],
				triageMarkers = [],
				infowindows = [];

    
			createreliHosMarkers();
			createinspectMarkers();
			createtriageMarkers();

			changeMarker('reliHos');  

			function createMarkerImage(src, size, options) {
				var markerImage = new kakao.maps.MarkerImage(src, size, options);
				return markerImage;            
			}

			function createMarker(position, image) {
				var marker = new kakao.maps.Marker({
					position: position,
					image: image,
					clickable: true
				});
				
				return marker;  
			}
			function closeInfoWindow() {
				for(var idx=0; idx< infowindows.length; idx++){
					infowindows[idx].close();
				}
			}
			function makeClickListener(map, marker, infowindow) {
				return function() {
					closeInfoWindow();
					infowindow.open(map, marker);
				};
			}   

			function createreliHosMarkers() {
				
				for (var i = 0; i < reliHosDatas.length; i++) {  
					var hostypenum = (reliHosDatas[i].hospTyTpCd == 'A') ? 0 : 148.5 ;

					
					var imageSize = new kakao.maps.Size(108, 148.5),
						imageOptions = {  
							spriteOrigin: new kakao.maps.Point(0, hostypenum),    
							spriteSize: new kakao.maps.Size(108, 594)  
						};     
					
					var markerPos = new kakao.maps.LatLng(reliHosDatas[i].latitude, reliHosDatas[i].longtitude);
					var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),    
						marker = createMarker(markerPos, markerImage); 
					
					var curhostype = (reliHosDatas[i].hospTyTpCd == 'A') ? "#호흡기 전용 외래 설치" : "#선별진료소 운영" ;
					var iwContent = '<div style="padding:5px; white-space: nowrap;">' + reliHosDatas[i].yadmNm +'</div>' +
								'<div style="padding:5px;">' + reliHosDatas[i].telno +'</div>'+
								'<div style="padding:5px;">' + curhostype +'</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
					iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

					// 인포윈도우를 생성합니다
					var infowindow = new kakao.maps.InfoWindow({
						content : iwContent,
						removable : iwRemoveable
					});
					
					infowindows.push(infowindow);
					// 마커에 클릭이벤트를 등록합니다
					kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow));

					reliHosMarkers.push(marker);
				}     
			}
			function setreliHosMarkers(map) {        
				for (var i = 0; i < reliHosMarkers.length; i++) {  
					reliHosMarkers[i].setMap(map);
				}        
			}
			function createinspectMarkers() {
				for (var i = 0; i < inspectDatas.length; i++) {
					
					var imageSize = new kakao.maps.Size(108, 148.5),
						imageOptions = {   
							spriteOrigin: new kakao.maps.Point(0, 297),    
							spriteSize: new kakao.maps.Size(108, 594)   
						};       
				
					var markerPos = new kakao.maps.LatLng(inspectDatas[i].latitude, inspectDatas[i].longtitude);
					var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),    
						marker = createMarker(markerPos, markerImage);

					var iwContent = '<div style="padding:5px;white-space: nowrap;">' + inspectDatas[i].yadmNm +'</div>' +
								'<div style="padding:5px;">' + inspectDatas[i].telno +'</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
					iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

					// 인포윈도우를 생성합니다
					var infowindow = new kakao.maps.InfoWindow({
						content : iwContent,
						removable : iwRemoveable
					});
					infowindows.push(infowindow);
					// 마커에 클릭이벤트를 등록합니다
					kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow));
					inspectMarkers.push(marker);    
				}        
			}
			function setinspectMarkers(map) {        
				for (var i = 0; i < inspectMarkers.length; i++) {  
					inspectMarkers[i].setMap(map);
				}        
			}
			function createtriageMarkers() {
				for (var i = 0; i < triageDatas.length; i++) {
					
					var imageSize = new kakao.maps.Size(108, 148.5),
						imageOptions = {   
							spriteOrigin: new kakao.maps.Point(0, 445.5),    
							spriteSize: new kakao.maps.Size(108, 594) 
						};       
				
					var markerPos = new kakao.maps.LatLng(triageDatas[i].latitude, triageDatas[i].longtitude);
					var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),    
						marker = createMarker(markerPos, markerImage); 

					var iwContent = '<div style="padding:5px;white-space: nowrap;">' + triageDatas[i].yadmNm +'</div>' +
								'<div style="padding:5px;">' + triageDatas[i].telno +'</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
					iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

					// 인포윈도우를 생성합니다
					var infowindow = new kakao.maps.InfoWindow({
						content : iwContent,
						removable : iwRemoveable
					});
					infowindows.push(infowindow);
					// 마커에 클릭이벤트를 등록합니다
					kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow));
					
					triageMarkers.push(marker);        
				}                
			}
			function settriageMarkers(map) {        
				for (var i = 0; i < triageMarkers.length; i++) {  
					triageMarkers[i].setMap(map);
				}        
			}
			function changeMarker(type){
				
				var reliHosMenu = document.getElementById('reliHosMenu');
				var inspectMenu = document.getElementById('inspectMenu');
				var triageMenu = document.getElementById('triageMenu');
				if (type === 'reliHos') {
					reliHosMenu.className = 'menu_selected';
					inspectMenu.className = '';
					triageMenu.className = '';
					setreliHosMarkers(map);
					setinspectMarkers(null);
					settriageMarkers(null);
					
				} else if (type === 'inspect') {
					reliHosMenu.className = '';
					inspectMenu.className = 'menu_selected';
					triageMenu.className = '';
					setreliHosMarkers(null);
					setinspectMarkers(map);
					settriageMarkers(null);
					
				} else if (type === 'triage') {
					reliHosMenu.className = '';
					inspectMenu.className = '';
					triageMenu.className = 'menu_selected';
					setreliHosMarkers(null);
					setinspectMarkers(null);
					settriageMarkers(map);  
				}
				closeInfoWindow(); 
			} 
	</script>
	</body>
</html>