<html>
	<head>
		<meta charset="utf-8"/>
		<title>Kakao 지도 시작하기</title>
	</head>
	<body>
		
		<div id="facility_lat" style="display: none">
			{{ location.lat }}
		</div>
		<div id="facility_lng" style="display: none">
			{{ location.lng }}
		</div>
		
		<div id="map" style="width:500px;height:400px;"></div>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4e63037725e2b7837bb5c426532533f0"></script>
		<script>
			var _lat = 33.450701,
    			_lng = 126.570667;
			if(!isEmpty(document.getElementById("facility_lat").value)&&!isEmpty(document.getElementById("facility_lng")).value){
				_lat = document.getElementById("facility_lat");
				_lng = document.getElementById("facility_lng");
			}

			var container = document.getElementById('map');
			var options = {
				center: new kakao.maps.LatLng(_lat, _lng),
				level: 3
			};
		
			var map = new kakao.maps.Map(container, options);

			function isEmpty(str){
		 		if(typeof str == "undefined" || str == null || str == "")
					return true;
		 		else
					return false;
	 		}
		</script>
	</body>
</html>