<html>
	<head>
		<meta charset="utf-8"/>
		<title>공적 마스크 판매정보</title>
	</head>
	<body>
		<div id="facility_lat" style="display: none;">
			{{ data.lat }}
		</div>
		<div id="facility_lng" style="display: none;">
			{{ data.lng }}
		</div>
		<div id="map" style="width:100%;height:100%;"></div>
		<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=4e63037725e2b7837bb5c426532533f0"></script>
		<script>

			

			var _lat = 33.450701,
    			_lng = 126.570667;
			if(!isEmpty(document.getElementById("facility_lat").innerHTML)&&!isEmpty(document.getElementById("facility_lng")).innerHTML){
				_lat = parseFloat(document.getElementById("facility_lat").innerHTML);
				_lng = parseFloat(document.getElementById("facility_lng").innerHTML);
			}

			var container = document.getElementById('map');
			var options = {
				center: new kakao.maps.LatLng(_lat, _lng),
				level: 3
			};
		
			

			// // 마커 클러스터러를 생성합니다 
			// var clusterer = new kakao.maps.MarkerClusterer({
			// 	map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체 
			// 	averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정 
			// 	minLevel: parseInt('{{ strdata.strdata | escapejs }}') * 2 // 클러스터 할 최소 지도 레벨 
			// });

			var markers = [];

			var data = '{{ strdata.strdata | escapejs }}';

			var str_data = [];
			for(var i=0; i<data.count; i++) {
				str_data[i] = [data.stores[i].lat,data.stores[i].lng,data.stores[i].name]
			}

        	// 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
        	function makeOverListener(map, marker, infowindow) {
            	return function() {
                	infowindow.open(map, marker);
            	};
        	}
     		// 인포윈도우를 닫는 클로저를 만드는 함수입니다 
        	function makeOutListener(infowindow) {
            	return function() {
                	infowindow.close();
            	};
        	}


			kakao.maps.load(function() {
				// v3가 모두 로드된 후, 이 콜백 함수가 실행됩니다.
				var map = new kakao.maps.Map(container, options);
				for(var i=0;i<str_data.length;i++){
				// 마커가 표시될 위치입니다 
				var markerPosition  = new kakao.maps.LatLng(str_data[i][0],str_data[i][1]); 

				// 마커를 생성합니다
				var marker = new kakao.maps.Marker({
					position: markerPosition
				});

				// 마커가 지도 위에 표시되도록 설정합니다
				marker.setMap(map);
				var iwContent = str_data[i][2];
				iwPosition = markerPosition //인포윈도우 표시 위치입니다

				// 인포윈도우를 생성합니다
				var infowindow = new kakao.maps.InfoWindow({
					position : iwPosition, 
					content : iwContent 
				});
				
				markers.push(marker);

				kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
				kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
				
				}
			});
			
			// 클러스터러에 마커들을 추가합니다
			// clusterer.addMarkers(markers);

			// 지도에 마커와 인포윈도우를 표시하는 함수입니다
			function displayMarker(locPosition) {

				// 마커를 생성합니다
				var marker = new kakao.maps.Marker({  
					map: map, 
					position: locPosition
				}); 
			
				// var iwContent = message, // 인포윈도우에 표시할 내용
				// 	iwRemoveable = true;

				// 인포윈도우를 생성합니다
				var infowindow = new kakao.maps.InfoWindow({
					content : iwContent,
					removable : iwRemoveable
				});
			
				// 인포윈도우를 마커위에 표시합니다 
				infowindow.open(map, marker);
			
				// 지도 중심좌표를 접속위치로 변경합니다
				map.setCenter(locPosition);      
			}

			function isEmpty(str){
		 		if(typeof str == "undefined" || str == null || str == "")
					return true;
		 		else
					return false;
	 		}    
	</script>
	</body>
</html>